# .env
.env

# C program
c/*
!c/*.c
!c/lib
!c/makefile
c/makefile/*.o
!c/meta/
c/meta/*
!c/meta/*.c
!c/meta/makefile
!c/**/*.o
!c/**/lib/
!c/**/lib/*.a
!c/**/lib/*.h
!c/**/Makefile*

# Java
**/*.class

# Scala
scala/**/project
scala/**/target

# python
python/**/.venv
python/**/__pycache__/

## mongodb
mongodb/backup

## oracle
oracle/node/dbConfig.js
oracle/**/node_modules
oracle/**/package-lock.json
