# .env
.env

# C program
c/*
!c/*.c
!c/lib
!c/makefile
c/makefile/*.o
!c/meta/
c/meta/*
!c/meta/*.c
!c/meta/makefile
!c/**/*.o
!c/**/lib/
!c/**/lib/*.a
!c/**/lib/*.h
!c/**/Makefile*

# Java
**/*.class

# Scala
scala/**/project
scala/**/target
